body
{
    background-image: url("acrescimo.png");
}

.pag
{
    position: absolute;
    top: -1px;
    left: -1px;
    background-image: url("fundoPag.png");
    width: 1598px;
    height:772px;
}

header
{
    position: absolute;
    left: -1px;
    background-image: url("ain.png");
    height: 330px;
    width: 100%;
    top: -1px;
    font-size: 25px;
    font-family:"Century Gothic";
    font-weight: 400;
}

.logo
{
    background-image: url("logo.png");
    height: 150px;
    width: 150px;
}

.contato
{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 1200px;
    color: white;
    font-size: 25px;
    font-weight: 900;
}
.cont
{
    color: white;
    font-family:"Century Gothic";
    font-weight: 600;
    font-size: 25px;
}

.cad
{
     color: #0B3861;
    font-family:"Century Gothic";
    font-weight: 600;
    font-size: 17px;
}
.seta
{
    width: 70px;
    height: 42px;
    background-image: url("seta.png");
    position: absolute;
    top: 20px;
    left: 10px;
}


.peq
{
    width: 300px;
    height: 500px;
    font-family:"Century Gothic";
    font-weight:600;
    font-size: 23px;
    color: #DF3A01;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #123d54;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#afd9fa 0%,
		#ffffff 75%,
		#588fad);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#afd9fa),
		color-stop(0.75, #ffffff),
		to(#588fad));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #003366;
	-moz-box-shadow:
		4px 3px 10px rgba(137,78,204,1),
		inset 0px 0px 1px rgba(144,192,209,1);
	-webkit-box-shadow:
		4px 3px 10px rgba(137,78,204,1),
		inset 0px 0px 1px rgba(144,192,209,1);
	box-shadow:
		4px 3px 10px rgba(137,78,204,1),
		inset 0px 0px 1px rgba(144,192,209,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		-1px 1px 0px rgba(240,247,250,1);

    position: relative;
    top: 25px;
    font-family:"Century Gothic";
    font-weight: 600;
    font-size: 20px;
    
}

input[type=text] {
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid purple;
    font-family:"Century Gothic";
    font-weight: 700;
    font-size: 15px;
    width: 280px;
    height: 40px;
    color: black;
    
}

input[type=email] {
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid purple;
    font-family:"Century Gothic";
    font-weight: 700;
    font-size: 15px;
    width: 280px;
    height: 40px;
    color: black;
}
input[type=tel] {
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid purple;
    font-family:"Century Gothic";
    font-weight: 700;
    font-size: 15px;
    width: 280px;
    height: 40px;
    color: black;
}

input[type=date] {
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid purple;
    font-family:"Century Gothic";
    font-weight: 700;
    font-size: 14px;
    width: 280px;
    height: 40px;
    color: black;
}
input[type=password] {
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid purple;
    font-family:"Century Gothic";
    font-weight: 700;
    font-size: 14px;
    width: 280px;
    height: 40px;
    color: black;
}

.tit
{
    position: absolute;;
    left: 100px;
    top: 20px;
    background: url("cad.png");
    width: 350px;
    height: 43px;
}

.bloco
{
    background: white;
    width: 500px;
    height: 700px;
    position: relative;
    top: 80px;
    left: 525px;;
    font-size: 18px;
    
}

.dados
{
    position: relative;
    top: 50px;
    left: 35px;
    width: 500px; 
    height: 50px;
     font-family:"Trebuchet MS";
    font-size: 20px;
    color: black;
    
}

.posicao
{
    width: 700px;
    height: 900px;
    position: relative;
    left: 100px;
    top: 0px;
    font-family:"Trebuchet MS";
    font-weight: 900;
    color: black;
}
    

    
}
