body, html {
    background-size: cover;

} 

.parallax {
    /* The image used */
    background-image: url("Imagens/uni.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("Imagens/bur.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
  background-color: #4224D7 !important;
    height: 100px;
}
.logo
{
    width: 100px;
    height: 100px;
    background: url(Imagens/logo.png);
   
}

.nome
{
    position:        relative;
    left:            150px;
    top:       		 20px;
    width: 			 400px;
    height: 		 100px;
    color: 		 	 white;
  	font-family:	 "Century Gothic";
    font-size: 		 40px;
    font-weight: 	 600;
}
.page-footer
{
    background-color:#75DED9; 
}

#menu
{
    position:   absolute;
    top:        23px;
    left:       770px;
    width:      500px;
    font-family:"Century Gothic";
    font-size:  40px;
}

.row
{
    height: 550px;
    text-align: center;
    color: white;
}

h3
{
        font-size: 60px;
        font-weight: 600;
        font-family:"Century Gothic";
}

.bgimg-1 {
    background: url("Imagens/buraco.png");
    position: relative;
    width: 100%;
    height:575px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
    background: url("Imagens/uni.jpg");
    position: relative;
    height:575px ;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-3 {
    background: url("Imagens/paralax.jpg");
    position: relative;
    height:575px ;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sobre
{
    background-color: #F78181;
    height: 300px;
    width: 100%;
    text-align: center;
    color: black;
}

#um
{
    background-color: #00bfa5;
    width: 400px;
    height: 450px;
    position: relative;
    left: 150px;
    top: 90px;
    color: white;
    font-size: 20px;
    font-family: "Century Gothic";
    text-align: center;
     border-radius: 15px 60px;
}
#dois
{
    background-color: #00bfa5;
    width: 400px;
    height: 450px;
    position: relative;
    left: 600px;
    bottom: 360px;
    color: white;
     font-size: 20px;
    font-family: "Century Gothic";
    text-align: center;
      border-radius: 15px 60px;
}
#tres
{
    background-color: #00bfa5;
    width: 400px;
    height: 450px;
    position: relative;
    left: 1100px;
    bottom: 800px;
    color: white;
     font-size: 20px;
    font-family: "Century Gothic";
    text-align: center;
     border-radius: 15px 60px;
}

h1
{
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: 600px;
}

.txt1
{
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
    position: absolute;
    top: 730px;
    width: 100%;
}

h3
{
     font-family: "Century Gothic";
    font-size: 60px;
    font-weight: 600px;
}

#myCarousel
{
    position: absolute;
    top: 330px;
}

.active
{
    font-size: 16px;
}

.logoo
{
    width: 50px;
    height: 50px;
    background: url("Imagens/logoo.png");
}

.face img
{
	max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
     position: relative;
    bottom: 25px;
    left: 250px;
}
.twitter img
{
	max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
    position: relative;
    bottom: 67px;
    left: 290px;
}
.insta img
{
	max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
    position: relative;
     position: relative;
    bottom: 105px;
    left: 330px;
}
.goo img
{
	max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
    position: relative;
     position: relative;
    bottom: 145px;
    left: 370px;
}

#termos
{
    position: relative;
    bottom: 170px;
    right: 250px;
    font-size:  16px;
}

#rodape
{
   
    height: 40px;
}

#alo
{
    position: relative;
    bottom: 80px; 
}

#footer
{
    position: relative;
      
    height: 200px;
}



.caption {
    position: absolute;
    left: 0;
    top: 1000px;
    width: 100%;
    text-align: center;
    color: #000;
}

.waves-effect.waves-brown .waves-ripple {
    background-color: rgba(121, 85, 72, 0.65);
  }

#botao
{
   background: #A4A4A4; 
   color: white;
}

#linha
{
    height: 180px;
}


