

body
{
	background-image: url("imagens/fundo.gif");
}

nav
{
	display: inline;
}

#terra
{
	position: absolute;
	top:50px;
	left:1300px;
	width:200px; 
	height:250px;
}

#gif
{
	position: absolute;
	top:30px;
	left: 30px;
	border-radius: 100%;
	border: 5px solid blue;
	width:85px; 
	height:50px;
}


#caminho
{
	position: absolute;
	top: 560px;
	left: 100px;
	width:1202px; 
	height:190px;
}

#btn1
{
	position: absolute;
	left: 100px;
	top: 670px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}

#btn2
{
	position: absolute;
	left: 230px;
	top: 620px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}
#btn3
{
	position: absolute;
	left: 370px;
	top: 580px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}
#btn4
{
	position: absolute;
	left: 526px;
	top: 600px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}
#btn5
{
	position: absolute;
	left: 630px;
	top: 672px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}
#btn6
{
	position: absolute;
	left: 770px;
	top: 650px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}
#btn7
{
	position: absolute;
	left: 880px;
	top: 590px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}
#btn8
{
	position: absolute;
	left: 1020px;
	top: 555px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}
#btn9
{
	position: absolute;
	left: 1140px;
	top: 610px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}
#btn10
{
	position: absolute;
	left: 1240px;
	top: 695px;
	border-radius: 130%;
	background-color: #5858FA;
	width: 60px;
	height: 50px;
}

#pergunta
{
	text-align: center;
    font-size: 40px;
    color: red; 
}

#tela
{
	background-color: lightgreen;
	position: absolute; 
    left: 400px; 
    top: 20px; 
    width: 48%; 
    height: 500px; 
    border-radius: 20%; 
}

#btnVer
{
	position: absolute;
	 left: 300px; 
	 top: 430px;
	 display: none;
}

#a
{
  position: absolute; 
  left: 50px; 
  top: 230px;
  display: none;
}

#b
{
position: absolute; 
left: 50px; 
top: 280px;
display: none;
}

#c
{
  position: absolute; 
  left: 50px; 
  top: 335px;
  display: none;
}

#d
{
	position: absolute; 
	left: 50px; 
	top: 385px;
	display: none;
}

#r_Primeira
{
  color:blue;
  font-weight:bold;
  font-size: 38px;
  position: absolute; 
  left: 80px; 
  top: 220px;
}

#r_Segunda
{
  color:blue;
  font-weight:bold;
  font-size: 38px;
  position: absolute; 
  left: 80px; 
  top: 270px;
}

#r_Terceira
{
   color:blue;
   font-weight:bold;
   font-size: 38px;
   position: absolute; 
   left: 80px; 
   top: 320px;
}

#r_Quarta
{
	color:blue;
	font-weight:bold;
	font-size: 38px;
    position: absolute; 
    left: 80px; 
    top: 370px;
}