body, html {
    height: 100%;
}


.parallax {
    /* The image used */
    background-image: url("Fotos/fundo.gif");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav {
  background-color: #4224D7 !important;
    height: 100px;
}
.logo
{
    width: 100px;
    height: 100px;
    background: url(Fotos/logo.png);
   
}

.nome
{
    position:        relative;
    left:            150px;
    top:       		 20px;
    width: 			 400px;
    height: 		 100px;
    color: 		 	 white;
  	font-family:	 "Century Gothic";
    font-size: 		 40px;
    font-weight: 	 600;
}
.page-footer
{
    background-color:#75DED9; 

}


#menu
{
    position:   absolute;
    top:        23px;
    left:       770px;
    width:      500px;
    font-family:"Century Gothic";
    font-size:  40px;
}

.text-item
{
    position: relative;
    top: 1230px;
    width: 500px;
    text-align: left;
}

.lua
{
    position: absolute;
    left: 110px;
    bottom: 270px;
    font-size: 25px;
    text-align: left;
}

h2:hover
{
    color: #75DED9;
}

.zoom {
    overflow: hidden;
    position: relative;
    bottom: 950px;
    width: 500px;
    left: 160px;
}

.zoom img {
    max-width: 80%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.aviao
{
    position: absolute;
    left: 510px;
    bottom: 270px;
    font-size: 25px;
    text-align: left;
    width: 350px;
}

.zoom2 {
    overflow: hidden;
    position: relative;
    bottom: 1145px;
    width: 500px;
    left: 590px;
}

.zoom2 img {
    max-width: 80%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom2:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.am
{
    position: absolute;
    left: 950px;
    bottom: 250px;
    font-size: 25px;
    text-align: left;
    width: 350px;
}

.zoom3 {
    overflow: hidden;
    position: relative;
    bottom: 1345px;
    width: 500px;
    left: 1020px;
}

.zoom3 img {
    max-width: 80%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom3:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.text-item {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

h3
{
    text-align:center;
}

#myCarousel
{
    position: absolute;
    top: 200px;
}

.active
{
    font-size: 16px;
}

.logoo
{
    width: 50px;
    height: 50px;
    background: url("Fotos/logoo.png");
}

.face img
{
	max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
     position: relative;
    bottom: 25px;
    left: 250px;
}
.twitter img
{
	max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
    position: relative;
    bottom: 65px;
    left: 290px;
}
.insta img
{
	max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
    position: relative;
     position: relative;
    bottom: 105px;
    left: 330px;
}
.goo img
{
	max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
    position: relative;
     position: relative;
    bottom: 145px;
    left: 370px;
}

#termos
{
    position: relative;
    bottom: 170px;
    right: 250px;
    font-size:  16px;
}

#rodape
{
    height: 40px;
}



.caption {
    position: absolute;
    left: 0;
    top: 1090px;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption img
{
	max-width:600px;
    width: auto;
    height: auto;
    position: relative;
    
}

