
body
{
   background-image: url('imagens/fundo.gif');
}

  #draggable {
   cursor: grab;
   cursor: -webkit-grab;
   cursor:-moz-grab;
}

.wrapper {
        position: relative;
    }
    
    .grab-cursor {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        cursor: grab;
        cursor: -webkit-grab;
        cursor:-moz-grab;
        z-index: 100;
    }
    .grab-cursor:active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
        cursor:-moz-grabbing;
    }



#sol
{
	position: absolute;
	top: 5px;
	left: 0px;
	width: 28%;
	height: 880px;
}

#mercurio
{
	position: absolute;
	top: 170px;
	left: 50px;
	width: 30%;
	height: 98px;
}

#venus
{
	position: absolute;
	top: 160px;
	left: 105px;
	width: 36%;
	height: 150px;
}

#terra
{
	position: absolute;
	top: 160px;
	left: 220px;
	width: 34%;
	height: 183px;
}

#marte
{
	position: absolute;
	top: 175px;
	left: 340px;
	width: 39%;
	height: 130px;
}

#jupiter
{
	position: absolute;
	top: 67px;
	left: 410px;
	width: 60%;
	height: 620px;
}

#saturno
{
	position: absolute;
	top: 100px;
	left: 718px;
	width: 67%;
	height: 340px;
}
#urano
{
	position: absolute;
	top: 140px;
	left: 1100px;
	width: 40%;
	height: 240px;
}
#netuno
{
	position: absolute;
	top: 150px;
	left: 1320px;
	width: 38%;
	height: 215px;
}
#plutao
{
	position: absolute;
	top: 180px;
	left: 1450px;
	width: 24%;
	height: 80px;
}

#quiz
{
	position: absolute;
	top: 30px;
	left:800px;
	width:30%;
	height: 30px;
	border-radius: 70%;

}
/*
jupiter
saturno
urano
netuno
terra
venus
marte
mercurio
plutao
*/

#quiz{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #1a191a;
	padding: 4px 4px;
	background: -moz-linear-gradient(top,#42f9ff 0%,#ffffff 74%,#ad0303);
	background: -webkit-gradient(linear, left top, left bottom,from(#42f9ff),color-stop(0.74, #ffffff),to(#ad0303));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #0a0a0a;
	-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 1px 0px rgba(255,255,255,0.3);
	width: 70px;
	height: 50px;
}