

body
{
	background-image: url("imagens/fundo.gif");
}

nav
{
	display: inline;
}

#terra
{
	position: absolute;
	top:50px;
	left:1400px;
}

#gif
{
	position: absolute;
	top:10px;
	left: 30px;
	border-radius: 100%;
	border: 5px solid blue;
}


#caminho
{
	position: absolute;
	top: 560px;
	left: 100px;
	width: 1200px;
	height: 200px;
}

#jogar
{
	position: absolute;
	top: 120px;
	left: 100px;
	width: 10%;
	height: 20%;
	border-width: 20px;
	border-radius: 70%;
	background-color: lightgreen;
}
